.chat-container {
    max-height: 100%;
    overflow-y: hidden;
    padding-bottom: 10px;
}
.shout {
    padding: 3px;
    border-bottom: 1px dashed #cccccc;
}
.shout .media-body {
    padding-top: 4px;
}
.media-left img.shouter-picture {
    width: 30px;
}