<div class="chat-box" ng-controller="ChatCtrl">
    <div class="shout-list">
        <ul class="media-list shouts">
            <li class="shout" ng-repeat="shout in shouts" id="shout_{{shout.id}}">
                <div class="media-left">
                    <img
                        class="shouter-picture"
                        ng-src="{{shout.from.picture}}"
                        alt=""
                        title="{{shout.from.name}}"
                        data-placement="right"
                        tooltip>
                </div>
                <div class="media-body shout-body">
                    {{shout.message}}
                </div>
            </li>
        </ul>
    </div>
    <form ng-submit="shout($event)">
        <div class="form-group">
            <div class="media-left">
                <img
                        class="shouter-picture"
                        ng-src="{{common.user.picture}}">
            </div>
            <div class="media-body shout-body">
                <input ng-model="shoutBox.message"
                       ng-disabled="shoutBox.disabled"
                       type="text"
                       class="form-control"
                       placeholder="Talk, man."
                       focus-on="newShoutAdded">
            </div>
        </div>
    </form>
</div>