// General styles, e. g. for the body tag
@import 'helpers';
@import 'variables';
@import 'lib/elements';

/* -------------------
    Main Content
   ------------------- */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: #eaeaea;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #bbb;
}

html, body {
  height: 100vh;
  overflow: hidden;
}
body, .main {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    color: @primaryFontColor;
}
.ui.grid.main {
  padding-top: 80px;
  height: 100%;
}
.column {
  height: 100%;
}
.dynamic-content{
  overflow-y: auto;
}
a {
    color: inherit;
    transition: 0.3s color;

    &:hover {
        color: @primaryLinkHoverColor;
    }
}

.icon {
    &.orange {
        color: @html5Orange;
    }
}

.site-wrapper {
    margin: 0 auto;
    max-width: @largeDesktopWidth;
}

/* -------------------
    Footer
   ------------------- */
.padding-wrapper.footer {
    .border-radius(0px);

    a:hover {
        color: @secondaryLinkHoverColor;
    }
}

.full-height-column {
  max-height: 100%;
  position: relative;
  height: 100%;
  overflow: scroll;
}
