<template name="basicLayout">
    {{#if showLogin}}
    <div id="main" style="height: 100%">
        <header>
            {{> header}}
        </header>

        <div class="ui grid main">
            <div class="four wide column chat-column">
                {{> chat}}
            </div>
            <div id="dynamic-content" class="six wide column dynamic-content">
                {{> yield}}
            </div>
            <div class="six wide column">
                {{> mediatv}}
            </div>
        </div>
    </div>
    {{else}}
        {{> login}}
    {{/if}}
</template>
