<template name="header">
    <div class="ui visible top horizontal inverted labeled icon sidebar menu">
        <a href="/" class="left item inline">
            <i class="setting icon"></i>
            VAULT13
        </a>
        <a href="{{ pathFor 'feed' }}" class="item {{#if active 'feed'}}active{{/if}}">
            <i class="chat icon"></i>
            Feed
        </a>
        <a href="{{ pathFor 'profile' }}" class="item {{#if active 'profile'}}active{{/if}}">
            <i class="user icon"></i>
            Profile
        </a>
        <a href="{{ pathFor 'about' }}" class="item {{#if active 'about'}}active{{/if}}">
            <i class="info icon"></i>
            About
        </a>
        <a href="" class="right item log-out button">
            <i class="sign out icon"></i>
            Log out
        </a>
    </div>
</template>

