<template name="header">
    <div class="ui visible top horizontal inverted labeled icon sidebar menu">
        <a class="active item">
            <i class="chat icon"></i>
            Feed
        </a>
        <a class="item">
            <i class="user icon"></i>
            Profile
        </a>
        <a class="item">
            <i class="search icon"></i>
            Search
        </a>
        <a class="item">
            <i class="history icon"></i>
            Chat history
        </a>
        <a class="item">
            <i class="list layout icon"></i>
            Manage playlists
        </a>
        <a class="item">
            <i class="settings icon"></i>
            Settings
        </a>
        <a class="item">
            <i class="info icon"></i>
            About
        </a>
        <a href="" class="right item log-out button">
            <i class="sign out icon"></i>
            Log out
        </a>

    </div>

    <!--<div class="ui secondary pointing menu">-->
        <!--<a href="" class="brand item">Vault13</a>-->
        <!--<a href="" class="active item"><i class="comment icon"></i> Feed</a>-->
        <!--<a href="" class="item"><i class="user icon"></i> Profile</a>-->
        <!--<a href="" class="item"><i class="setting icon"></i> Admin</a>-->

        <!--<div class="right menu">-->
            <!--<a href="" class="item log-out button">-->
                <!--<i class="sign out icon"></i>-->
                <!--Log out-->
            <!--</a>-->
        <!--</div>-->
    <!--</div>-->
</template>

