<template name="header">
    <div class="ui visible top horizontal inverted labeled icon sidebar menu">
        <a href="/" class="left item inline">
            <i class="setting icon"></i>
            VAULT13 <span style="color: red">beta</span>
        </a>
        <a href="{{ pathFor 'feed' }}" class="item {{#if active 'feed'}}active{{/if}}">
            <i class="chat icon"></i>
            Feed
        </a>
        <a href="{{ pathFor 'profile' userName=currentUserName}}" class="item {{#if active 'profile'}}active{{/if}}">
            <i class="user icon"></i>
            Profile
        </a>
        <a href="{{ pathFor 'search' }}" class="item {{#if active 'search'}}active{{/if}}">
            <i class="search icon"></i>
            Search
        </a>
        <a href="{{ pathFor 'about' }}" class="item {{#if active 'about'}}active{{/if}}">
            <i class="info icon"></i>
            About
        </a>
        <a href="" class="right item log-out button">
            <i class="sign out icon"></i>
            Log out
        </a>
        {{> notifications}}
    </div>


    <div class="ui fluid popup bottom left transition invisible">
        <div class="ui four column relaxed equal height divided grid">
            <div class="column">
                <h4 class="ui header">Fabrics</h4>
                <div class="ui link list">
                    <a class="item">Cashmere</a>
                    <a class="item">Linen</a>
                    <a class="item">Cotton</a>
                    <a class="item">Viscose</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui header">Size</h4>
                <div class="ui link list">
                    <a class="item">Small</a>
                    <a class="item">Medium</a>
                    <a class="item">Large</a>
                    <a class="item">Plus Sizes</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui header">Colored</h4>
                <div class="ui link list">
                    <a class="item">Neutrals</a>
                    <a class="item">Brights</a>
                    <a class="item">Pastels</a>
                </div>
            </div>
            <div class="column">
                <h4 class="ui header">Types</h4>
                <div class="ui link list">
                    <a class="item">Knitwear</a>
                    <a class="item">Outerwear</a>
                    <a class="item">Pants</a>
                    <a class="item">Shoes</a>
                </div>
            </div>
        </div>
    </div>



</template>

