<template name="chat">
    <div class="row">
        <div class="ui divided list" style="height: 100%; overflow: hidden">
            {{#each chats}}
                {{> chat_row}}
            {{/each}}
            <div class="item">
                <img class="ui avatar image" src="../public/images/avatar.png">
                <div class="content">
                    <div class="ui left icon input">
                        <input type="text" placeholder="Talk, man.">
                        <i class="comment icon"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="chat_row">
    <div class="item">
        <img class="ui avatar image" src="{{from.picture}}">
        <div class="content">
            {{message}}
        </div>
    </div>
</template>