<template name="chat">
    <div class="row">
        <div class="ui tiny list chat-list">
            {{#each chats}}
                {{> chat_row}}
            {{/each}}
            <div class="chat-row item">
                <div class="ui icon input">
                    <form class="new-chat">
                        <input type="text" name="text" placeholder="7r011 H3r3">
                    </form>
                    <i class="comment icon"></i>
                </div>
            </div>
        </div>
    </div>
</template>

<template name="chat_row">
    <div class="chat-row item">
        <img class="ui image"
             src="{{from.picture}}"
             data-html="by <b>{{from.name}}</b> <span class='momentum' data-date-original='{{createdTime}}'>{{fromNow createdTime}}</span> "
             data-variation="small inverted">
        <div class="content">
            <div class="ui small message">
                <p>{{message}}</p>
            </div>
        </div>
    </div>
</template>