<template name="profile">
    {{> omnibox}}
    <br/>
    <div class="ui grid">
        <div class="six wide column">
            <img class="profile-pic ui middle aligned bordered fluid image" src="{{user.profile.picture}}" />
            {{#if isOwnProfile}}
            <div class="fluid ui tiny black button edit-profile-button">
                <i class="edit icon"></i>
                Edit infos
            </div>
            {{/if}}
        </div>
        <div class="ten wide column">
            <h1>{{user.username}}</h1>
            <div class="ui label">
                Member since
                <div class="detail">{{formatDate user.createdAt}}</div>
            </div>
            <div class="ui label">
                Contributions
                <div class="detail">{{countPosts}}</div>
            </div>
        </div>
    </div>

    <h4 class="ui horizontal header divider">
        <i class="list icon"></i>
        Publications
    </h4>

    {{> posts}}

    {{> editProfileModal}}

</template>