<template name="profile">
    <h4 class="ui horizontal header divider">
        <i class="user icon"></i>
        {{user.username}}
    </h4>

    <div class="ui grid">
        <div class="six wide column">
            <img class="profile-pic ui middle aligned bordered fluid image" src="{{user.profile.picture}}" />
            {{#if isOwnProfile}}
            <div class="fluid ui tiny black button edit-profile-button">
                <i class="edit icon"></i>
                Edit infos
            </div>
            {{/if}}
        </div>
        <div class="ten wide column">
            <div class="ui label">
                Member since
                <div class="detail">{{formatDate user.createdAt}}</div>
            </div>
            <div class="ui label">
                Contributions
                <div class="detail">{{countPosts}}</div>
            </div>
        </div>
    </div>

    {{#if userPosts.count}}
    <h4 class="ui horizontal header divider">
        <i class="list icon"></i>
        Publications
    </h4>
        {{#each userPosts}}
            {{> post}}
        {{/each}}
    {{/if}}

    {{> editProfileModal}}

</template>