<template name="comments">
    {{#each comments}}
    <div class="comment">
        <a class="avatar">
            <img src="{{from.picture}}">
        </a>
        <div class="content">
            <a class="author">{{from.name}}</a>
            <div class="metadata">
                <span class="date momentum" data-date-original="{{createdTime}}">{{fromNow createdTime}}</span>
            </div>
            <div class="text">
                {{message}}
            </div>
        </div>
    </div>
    {{/each}}
    <div class="comment">
        <a class="avatar">
            <img src="{{currentUser.profile.picture}}">
        </a>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <input type="text" placeholder="Comment on this">
                </div>
            </div>
        </div>
    </div>

</template>