<template name="feed">
    <h4 class="ui horizontal header divider">
        <i class="browser icon"></i>
        Feed
    </h4>

    <div class="ui inverted form">
        <div class="fields">
            <div class="sixteen wide field">
                <form id="resource-add-form">
                    <div class="resource-url-input-container ui left icon input">
                        <input class="add-url-button" type="text" placeholder="Paste any resource url">
                        <i class="world icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{> posts}}

    <!--{{> addResource post=newPost}}-->
    <div class="add-resource ui modal">
        <i class="close icon"></i>
        <div class="header">
            Refine your post
        </div>
        <div id="add-post-modal-content" class="content">

        </div>
        <div class="actions">
            <div class="ui button cancel">Cancel</div>
            <div class="ui button ok">OK</div>
        </div>
    </div>
</template>