<template name="feed">
    <h4 class="ui horizontal header divider">
        <i class="browser icon"></i>
        Feed
    </h4>

    <div class="ui inverted form">
        <div class="fields">
            <div class="sixteen wide field">
                <div class="ui left icon input">
                    <input type="text" placeholder="Paste any resource url">
                    <i class="world icon"></i>
                </div>
            </div>
        </div>
    </div>

    {{> posts}}

</template>