<template name="feed">
    <h4 class="ui horizontal header divider">
        <i class="browser icon"></i>
        Feed
    </h4>

    <div class="ui inverted form">
        <div class="fields">
            <div class="sixteen wide field">
                <form id="resource-add-form">
                    <div class="resource-url-input-container ui left icon input">
                        <input class="add-url-button" type="text" placeholder="Paste any resource url">
                        <i class="world icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{> posts}}

    {{> addResource post=newPost}}
</template>