<template name="omnibox">
<div class="ui inverted form">
    <div class="fields">
        <div class="sixteen wide field">
            <form id="resource-add-form" class="ui form">
                <div class="field">
                    <div class="resource-url-input-container ui left icon input {{#if postCreationLoading}}loading{{/if}}">
                        <input class="add-url-button" type="text" name="url" placeholder="Paste any resource url, and hit enter.">
                        <i class="world icon"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</template>