<template name="post">
    <div class=" post">
        <div class="ui grid">
            <div class="eight wide column">
                {{> resource}}
            </div>
            <div class="eight wide column">
                {{> user_content}}
            </div>
        </div>
        <div class="ui minimal comments">
            <h4 class="ui horizontal header divider">
                <a href="#"
                   class="toggle-comments"
                   data-content="Show/Hide comments"
                   data-variation="small inverted">
                    <i class="comments icon"></i>({{totalComments}})
                </a>
            </h4>
            <div class="comments-wrapper {{#if totalComments != 0}}hidden{{/if}}">
                {{> comments}}
            </div>
        </div>
    </div>
</template>