<template name="resource">
    <div class="ui special cards">
        <div class="ui card">
            <div class="dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui center aligned inverted button">Play</div>
                            <div class="ui center aligned inverted button">Queue</div>
                        </div>
                    </div>
                </div>
                <img src="http://img.youtube.com/vi/faL4Hu8gXgw/hqdefault.jpg">
            </div>
            <div class="content">
                <a class="header">Title of the video</a>
                <div class="meta">
                    <span class="date">Artists</span>
                </div>
            </div>
            <div class="extra content">
                <div class="ui label">
                    <i class="tag icon"></i> Black Metal
                </div>
                <div class="ui label">
                    <i class="tag icon"></i> Dark Ambiant
                </div>
            </div>
        </div>
    </div>
</template>