<template name="user_content">
    <div class="ui comments">
        <div class="comment">
            <a class="avatar">
                <img src="/images/avatar.png">
            </a>
            <div class="content">
                <a class="author">{{currentUser.username}}</a>
                <div class="date">2 days ago</div>
            </div>
        </div>
    </div>

    <div style="margin-top: 15px;">
        <i class="quote left icon"></i> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. <i class="quote right icon"></i>
    </div>

    <h4 class="ui horizontal header divider">
        <i class="tags icon"></i>
    </h4>

    <div class="ui tiny tag labels">
        <a href="#" class="tag ui black label" data-html="Show all <b>Jazz</b> related posts" data-variation="small inverted">
            Jazz
        </a>
        <a class="tag ui black label" data-html="Show all <b>Electro-pop</b> related posts" data-variation="small inverted">
            Electro-pop
        </a>
    </div>
</template>