.mediatv-container {
    max-height: 100%;
    overflow-y: auto;
}
.loading {
    width: 100%;
    opacity: 0.8;
    position: absolute;
}
.player-container {
    padding: 0;
}
.player {
    height: 33vh;
    min-height: 300px;
    width: 100%;
    background: url(../../images/blackscreen.png);
    background-repeat: no-repeat;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.player h1 {
    text-align: center;
}

#mediatv ul {
    padding: 0;
    width: 100%;
}
#mediatv ul li {
    padding: 5px 0 5px 0;
    list-style-type: none;
    width: 100%
}
#mediatv ul li.selected {
    height: 80px;
    font-weight: bold;
    font-size: 16px;
    background: black;
    color: #dddddd;
    padding-bottom: 5px;
}
#mediatv ul li.selected .media-left img {
    height: 70px;
    width: auto;
    margin-left: 5px;
}
#mediatv ul li:hover {
    opacity: 0.9;
    color: #e30613;
}
#mediatv .media-left img {
    margin-right: 10px;
}
#mediatv .media-left {
    cursor: pointer;
}
.queue-item {
    border-bottom: 2px dashed #eeeeee;
}
.queue-item img {
    height: 40px;
    width: 50px;
}