<div id="mediatv">
    <div class="player-container">
        <div id="resource-player" class="player embed-container" ng-bind-html="player.embed"></div>
    </div>
    <div class="resource-info" ng-bind-html="player.infos"></div>
    <ul>
        <li class="queue-item selected"
            ng-if="currentResource">
            <div class="media-left">
                <img ng-src="{{currentResource.thumbnailUrl}}">
            </div>
            <div class="media-body">
                {{currentResource.title}} <span class="label label-primary" ng-if="currentResource.author">{{currentResource.author}}</span>
                <div>
                    <img ng-src="/api/users/{{currentResource.sharerId}}/picture"
                         alt=""
                         data-placement="right"
                         tooltip
                         data-title="{{currentResource.sharerName}} shared this on {{currentResource.createdTime | date:'MMM d, H:mm'}}"/>
                </div>
            </div>
        </li>
        <li class="play-history-header text-center" ng-show="queueHistory.length"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Play history</li>
        <li class="queue-item"
            ng-repeat="item in queueHistory"
            ng-click="playResource(item.resourceId);">
            <div class="media-left">
                <img ng-src="{{item.thumbnailUrl}}">
            </div>
            <div class="media-body">
                {{item.title}}
                <div>
                    <small>Shared by {{item.sharerName}}</small>
                </div>
            </div>
        </li>
        <li ng-hide="queueHistory.length"><span class="glyphicon glyphicon-time" aria-hidden="true"></span> Your history is empty. That's most suspicious.</li>
    </ul>
</div>