<template name="playlist">

    <div class="playlist">
        <div class="playlist-header">
            <div class="ui pointing dropdown post-options">
                <i class="list icon"></i>
                Playlist
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item clear-playlist">Clear playlist</div>
                    <div class="item stand-by-mode">Stand by mode</div>
                </div>
            </div>

        </div>
        <div class="playlist-items">
            <div class="ui small selection celled list">
                {{#each playlist}}
                    {{> playlistItem}}
                {{/each}}

                {{#if isPlaylistEmpty}}
                <div class="item">
                    Nothing there yet.
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>