<template name="resource">
    <div class="ui special cards">
        <div class="ui card">
            <div class="dimmable image">
                <div class="ui dimmer">
                    <div class="content">
                        <div class="center">
                            <div class="ui center aligned inverted button add-to-playlist trigger-play">Play</div>
                            <div class="ui center aligned inverted button add-to-playlist">Queue</div>
                        </div>
                    </div>
                </div>
                <img src="{{resource.thumbnailUrl}}">
            </div>
            <div class="content">
                <a class="header">{{resource.title}}</a>
                <div class="meta">
                    <span class="date">{{resource.author}}</span>
                </div>
            </div>
        </div>
    </div>
</template>