<template name="user_content">
    <div class="ui comments">
        <div class="comment">
            <a href="{{pathFor 'profile' userName=from.name }}" class="avatar">
                <img src="{{from.picture}}">
            </a>
            <div class="content">
                <a href="{{pathFor 'profile' userName=from.name }}" class="author">{{from.name}}</a>
                <div class="date momentum" data-date-original="{{createdTime}}">{{fromNow createdTime}}</div>
            </div>
        </div>
    </div>

    <div style="margin-top: 15px;">
        {{#if message}}
        <i class="quote left icon"></i>
            {{message}}
        <i class="quote right icon"></i>
        {{/if}}
    </div>

    {{#if resource.tags}}
    <h4 class="ui horizontal header divider">
        <i class="tags icon"></i>
    </h4>
    <div class="ui tiny tag labels">
        {{#each resource.tags}}
        <a href="#" class="tag ui black label" data-html="Show all <b>{{name}}</b> related posts" data-variation="small inverted">
            {{name}}
        </a>
        {{/each}}
    </div>
    {{/if}}
</template>