<template name="user_content">
    <div class="ui comments">
        <div class="comment">
            <div class="posts-options">
                <div class="ui right pointing dropdown post-options">
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item open-post">Open post</div>
                    </div>
                </div>
            </div>
            <a href="{{pathFor 'profile' userName=from.name }}" class="avatar">
                <img src="{{from.picture}}">
            </a>
            <div class="content">
                <a href="{{pathFor 'profile' userName=from.name }}" class="author">{{from.name}}</a>
                <div class="date momentum" data-date-original="{{createdTime}}">{{fromNow createdTime}}</div>
            </div>
        </div>
    </div>

    <div class="user-message">
        {{#if message}}
        <i class="quote left icon"></i>
        {{#autolink}}{{nl2br message}}{{/autolink}}
        <i class="quote right icon"></i>
        {{/if}}
    </div>

    {{#if resource.tags}}
    <h4 class="ui horizontal header divider">
        <i class="tags icon"></i>
    </h4>
    <div class="ui tiny tag labels">
        {{#each resource.tags}}
        <a href="/search/{{name}}" class="tag ui black label" data-html="Show all <b>{{name}}</b> related posts" data-variation="small inverted">
            {{name}}
        </a>
        {{/each}}
    </div>
    {{/if}}
</template>