<template name="about">

    <h4 class="ui horizontal header divider chat-title">
        <i class="info icon"></i>
        About
    </h4>

    <div class="ui styled fluid accordion">
        <div class="active title">
            <i class="dropdown icon"></i>
            What the hell is V13?
        </div>
        <div class="active content">
            <p>The essence of this project is cultural sharing. CULTURAL. V13 was born out of a lack of interest for maintstream platforms such as fb or g+, which, in my opinion, do not cover
            that type of need. I aim to gather people interested in discover new shit, and share what they like. A perpetual spiral of growing greatness, not a low-bottom hell-boring ugly-ass
            social network.
            </p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            Tech
        </div>
        <div class="content">
            <p>V13 is fueled with Meteor, and uses Semantic UI for every bit of display. If you are interested in contributing to the project, feel free to contact me!
                Can be anything, code, ideas, design, money... (I accept bitcoins)</p>
        </div>
        <div class="title">
            <i class="dropdown icon"></i>
            The author
        </div>
        <div class="content">
            <p>J.P.B aka Blackcat, y'all know me.</p>
         </div>
    </div>

</template>