<template name="scrollButtons">

    <div class="omnibox-control-buttons">
        <div class="ui inverted segment">
            <div class="ui mini inverted blue statistic go-top">
                <div class="value">
                    <i class="chevron up icon"></i>
                </div>
            </div>
            <div class="ui mini inverted blue statistic go-bottom">
                <div class="value">
                    <i class="chevron down icon"></i>
                </div>
            </div>
        </div>
    </div>

</template>