<template name="scrollButtons">

    <div class="omnibox-control-buttons">
        <div class="ui inverted segment">
            <div class="ui mini inverted blue statistic go-top">
                <div class="value">
                    <i class="chevron up icon"></i>
                </div>
                <div class="label">
                    Top
                </div>
            </div>
            {{#if newPosts}}
            <div class="ui mini inverted red statistic">
                <div class="value">
                    {{newPostsNotifications}}
                </div>
                <div class="label">
                    {{text}}
                </div>
            </div>
            {{/if}}
            <div class="ui mini inverted blue statistic go-bottom">
                <div class="value">
                    <i class="chevron down icon"></i>
                </div>
                <div class="label">
                    Bottom
                </div>
            </div>
        </div>
    </div>

</template>