<p class="alert alert-danger" ng-if="error">{{error}}</p>
<p class="alert alert-success" ng-if="success">{{success}}</p>

<div class="col-md-4">
  <img ng-src="{{user.picture}}" class="img-responsive profile-image img-circle"/>
  <input type="file" ng-model="newPicture" onchange="angular.element(this).scope().updatePicture(this.files)"/>
</div>
<div class="col-md-8">
  <h4>{{user.name}}</h4>

  Change password:
  <form ng-submit="updatePassword($event)">
    <div class="form-group">
      <input ng-model="newPassword.newValue" type="password" class="form-control" id="new-password" placeholder="New password">
    </div>
    <div class="form-group">
      <input ng-model="newPassword.repeatValue" type="password" class="form-control" id="repeat-new-password" placeholder="Repeat new password">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>