<template name="playlist">

    <div class="playlist">
        <div class="playlist-header">
            <i class="list icon"></i>
            Playlist
        </div>
        <div class="playlist-items">

            <div class="ui small selection celled list">
                <div class="item">
                    <img class="ui tiny image" src="http://img.youtube.com/vi/faL4Hu8gXgw/hqdefault.jpg">
                    <div class="content">
                        <div class="header">Reign in blood</div>
                        Slayer
                    </div>
                </div>
                <div class="item">
                    <img class="ui tiny image" src="http://img.youtube.com/vi/faL4Hu8gXgw/hqdefault.jpg">
                    <div class="content">
                        <div class="header">Road</div>
                        Virus
                    </div>
                </div>
                <div class="item">
                    <img class="ui tiny image" src="http://img.youtube.com/vi/faL4Hu8gXgw/hqdefault.jpg">
                    <div class="content">
                        <div class="header">Sonar Bliss</div>
                        Dodheimsgard
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>