<template name="playlist">

    <div class="playlist">
        <div class="playlist-header">
            <i class="list icon"></i>
            Playlist
        </div>

        <div class="playlist-items">

            <div class="ui small selection celled list">
                {{#each playlist}}
                    {{> playlistItem}}
                {{/each}}

                {{#if isPlaylistEmpty}}
                <div class="item">
                    Nothing there yet.
                </div>
                {{/if}}
            </div>
        </div>
    </div>
</template>

<template name="playlistItem">
    <div class="item hidden playlist-item">
        <img class="ui tiny image" src="{{thumbnailUrl}}">
        <div class="content">
            <div class="header">{{title}}</div>
            {{author}}
        </div>
    </div>
</template>