<template name="playlistItem">
    <div class="ui item hidden playlist-item" style="position: relative;">
        {{#if onAir}}
        <div class="ui left corner large blue label" style="padding: 2px 0 0 2px;">
            <i class="music icon"></i>
        </div>
        {{/if}}
        <img class="ui tiny image" src="{{resource.thumbnailUrl}}">
        <div class="content">
            <div class="header">{{resource.title}}</div>
            {{resource.author}}
        </div>
        <div class="delete-button hidden right floated" style="margin-top: 15px;">
            <button class="ui icon button remove-item">
                <i class="trash icon"></i>
            </button>
        </div>
    </div>
</template>