<template name="login">
    <div class="center aligned login-container">
        <div class="login-wrapper fadeIn animated">
            <h1 class="huge center aligned ui header">
                {{constant 'name'}}
                <div class="sub header">
                    This is not the darkness you paid for
                </div>
            </h1>
            <div class="at-form ui large fluid form segment">
                <div class="at-title">
                    <h2 class="ui center aligned dividing header">
                        Sign In
                    </h2>
                </div>
                <div class="at-pwd-form">
                    <form id="login-form" action="#" method="POST" novalidate="">
                        <div id="login-error" class="ui {{#unless accessDenied}}hidden{{/unless}} icon red message">
                            <i class="warning sign icon"></i>
                            <div class="content left aligned">
                                <div class="header">
                                    Access Denied
                                </div>
                                <p>You do not have permission to access the platform.</p>
                            </div>
                        </div>
                        <div class="at-input required field">
                            <label>
                                Username
                            </label>
                            <div class="ui fluid input icon">
                                <input type="text" id="login-username" name="at-field-email" placeholder="Username" autocapitalize="none" autocorrect="off">
                            </div>
                        </div>
                        <div class="at-input required field">
                            <label>
                                Password
                            </label>
                            <div class="ui fluid input icon">
                                <input type="password" id="login-password" name="at-field-password" placeholder="Password" autocapitalize="none" autocorrect="off">
                            </div>
                        </div>
                        <input type="submit" class="at-btn ui fluid large primary button" id="at-btn" value="Sign In">
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>